name: Deploy to SiteGround


on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    -name: Deploy to SiteGround
     uses: SamKirkland/FTP-Deploy-Action@4.3.3
     with: 
       server: ${{ secrets.FTP_SERVER }}
       username: ${{ secrets.FTP_USERNAME}}
       password: ${{ secrets.FTP_PASSWORD}}
       server-dir: /home/customer/www/myreliacare.com/public_html/
